{% extends "index.html" %}
{% block title %}Bounty{% endblock %}

{% block head %}
  {{ super() }}

  <script type="text/javascript">

    function createTwitterBounty() {
      var totalBountyValue = document.getElementById("totalBountyValue").value;
      var individualPayout = document.getElementById("individualPayout").value;
      var twitterUrl = document.getElementById("twitterUrl").value.toString();

      if(isNaN(totalBountyValue)) {
        document.getElementById("totalBountyValue").value = "";
        document.getElementById("totalBountyValue").placeholder = "Please enter a number";
        return;
      }
      if(isNaN(individualPayout)) {
        document.getElementById("individualPayout").value = "";
        document.getElementById("individualPayout").placeholder = "Please enter a number";
        return;
      }

      shareCoinInstance.createTwitterBounty(totalBountyValue, individualPayout, twitterUrl, function(error, result){
        if(!error)
          console.log(result);
        else
          console.error(error);
      });

      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/bounty");
      document.body.appendChild(form);
      form.submit();

    }

  </script>
{% endblock %}

{% block content %}
<h1 class="text-center" style="color:white">Enter your Twitter Bounty!</h1>
<h4 class="text-center" style="color:white">Please give the blockchain some time to catch up with your request!</h4>

    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
      <form id="bounty-form" action="" role="form" style="display: block;">
        <div class="form-group">
        <input type="text" name="username" id="totalBountyValue" tabindex="1" class="form-control"
          placeholder="ShareCoins delegated to the bounty" value="">
        </div>
        <div class="form-group">
        <input type="text" name="password" id="individualPayout" tabindex="2" class="form-control"
          placeholder="Payout per bounty completion">
        </div>
        <div class="form-group">
        <input type="text" name="password" id="twitterUrl" tabindex="3" class="form-control"
          placeholder="URL of your tweet">
        </div>
      </form>
      </div>
    </div>

    <div class="text-center">
      <button type="button" id="submitButton" class="btn btn-warning"
        onclick="createTwitterBounty()">Submit</button>
    </div>


{% endblock %}
