{% extends "index.html" %}
{% block title %}Creator{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript">
    function burn(var amount, var buttonId) {
      shareCoinInstance.burn(amount, function(error, result){
      if(!error) {
        console.log(result)
        document.getElementById(buttonId).disabled = true;
      }
      else
        console.error(error);
    });
  }
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 center-text">
        <h1 class="text-center" style="color:orange;">Trevor Pedgen(Youtuber)</h1>
        <p class="text-center" style="color:white;">Hello!  I'm Trevor and I spend my days making
          youtube videos of myself doing bird calls.  So grateful for all of my "flock" who follow and support me.
          Look forward to tons of great merch from me on here! </p>
        <br> <br>
        <h2 class="text-center" style="color:orange;">Trevor's Bounties</h2>
      </div>
    </div>
    <br> <br>
    <div class="row">
      <div class="col-lg-12 center-text">
        <h2 class="text-center" style="color:orange;">Rewards!</h2>
      </div>
    </div>
      <br><br>
    <div class="row">
      <div class="col-lg-6 center-text">
        <h5 class="text-center" style="color:white;">Hawk T-Shirt:     10 SCH</h5>
        <a id="button1" class="btn btn-warning" onclick="burn(10, 'button1')">Purchase</a>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-6 center-text">
        <h5 class="text-center" style="color:white;">My Childhood Binoculars:     50 SCH</h5>
        <div class="center-text">
          <a id="button2" class="btn btn-warning" onclick="burn(50, 'button2')">Purchase</a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
