<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="..\static\stylesheets\styles.css" />-->
    {% endblock %}
  </head>
    <body style = "background-color: #f7faff">
      <div class = "container" style= "background-color:white; padding-left: 0px; padding-right: 0px">
      <div class = "container" style="padding-left: 0; padding-right:0;">
        <nav class="navbar navbar-inverse" style ="background-color: #5301a5">
          <a class="navbar-brand" href="#" style="color:white">ShareBlocks</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
          </ul>
          <form action = "{{ url_for('login')}}" class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary" type="submit" style="border-color: white; color: white; background-color:#5301a5 ">Login</button>
          </form>
        </nav>
      </div>
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>
