<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="..\static\stylesheets\styles.css" />-->

    {% endblock %}
  </head>

    <body style = "background-color: #f7faff; background-image: url('../static/images/home_page2.png')">
      <!--<div class = "container" style= "background-color:white; padding-left: 0px; padding-right: 0px; background-image: url('../static/images/home_page1.jpg');">
      <div class = "container" style="padding-left: 0; padding-right:0;">-->
        <nav class="navbar navbar-expand" style ="background-color: #5301a5">
          <a class="navbar-brand" href="" style="color:white">ShareBlocks</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home')}}" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"style="color: white;">Account</a>
            </li>
          </ul>
        </nav>
      </div>
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>
