<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="..\static\stylesheets\styles.css" />-->
    <script type="text/javascript" src="./static/web3.min.js"></script>
    <script type="text/javascript" src="./static/require.js"></script>

    <script type="text/javascript">

      var Web3 = require('web3');
      var web3;
      window.addEventListener('load', function() {
      // Checking if Web3 has been injected by the browser (Mist/MetaMask)
      if (typeof web3 !== 'undefined') {
        // Use Mist/MetaMask's provider
        web3js = new Web3(web3.currentProvider);
      } else {
        console.log('No web3? You should consider trying MetaMask!')
        // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
        web3js = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/TUBXa5ntAP9rtqdhFQNE"));
      }

    });

      // Loads our contracts abi and then uses it to get access to our deployed contract.
      var contactAddress = '0xb021e99D2dAce09C0fd8e50234f55775Fa8F3627';

      var contractAbi = [ { "constant": true, "inputs": [], "name": "name", "outputs": [ { "name": "",
        "type": "string" } ], "payable": false, "stateMutability": "view", "type":
        "function" }, { "constant": false, "inputs": [ { "name": "_spender", "type":
        "address" }, { "name": "_value", "type": "uint256" } ], "name": "approve",
        "outputs": [ { "name": "success", "type": "bool" } ], "payable": false,
        "stateMutability": "nonpayable", "type": "function" }, { "constant": true,
        "inputs": [], "name": "totalSupply", "outputs": [ { "name": "", "type":
        "uint256" } ], "payable": false, "stateMutability": "view", "type": "function" }, {
        "constant": false, "inputs": [ { "name": "_from", "type": "address" }, { "name":
        "_to", "type": "address" }, { "name": "_value", "type": "uint256" } ], "name":
        "transferFrom", "outputs": [ { "name": "success", "type": "bool" } ], "payable":
        false, "stateMutability": "nonpayable", "type": "function" }, { "constant":
        true, "inputs": [], "name": "decimals", "outputs": [ { "name": "", "type":
        "uint8" } ], "payable": false, "stateMutability": "view", "type": "function" }, {
        "constant": false, "inputs": [ { "name": "_value", "type": "uint256" } ],
        "name": "burn", "outputs": [ { "name": "success", "type": "bool" } ], "payable":
        false, "stateMutability": "nonpayable", "type": "function" }, { "constant":
        true, "inputs": [], "name": "version", "outputs": [ { "name": "", "type":
        "string" } ], "payable": false, "stateMutability": "view", "type": "function" }, {
        "constant": false, "inputs": [ { "name": "_value", "type": "uint256" }, {
        "name": "_creator", "type": "address" } ], "name": "creditCreators", "outputs": [],
        "payable": false, "stateMutability": "nonpayable", "type": "function" }, {
        "constant": false, "inputs": [ { "name": "_value", "type": "uint256" }, {
        "name": "_creatorAddress", "type": "address" } ], "name": "twitterBountyPayout",
        "outputs": [ { "name": "success", "type": "bool" } ], "payable": false,
        "stateMutability": "nonpayable", "type": "function" }, { "constant": true,
        "inputs": [ { "name": "_owner", "type": "address" } ], "name": "balanceOf",
        "outputs": [ { "name": "balance", "type": "uint256" } ], "payable": false,
        "stateMutability": "view", "type": "function" }, { "constant": true, "inputs": [],
        "name": "owner", "outputs": [ { "name": "", "type": "address" } ], "payable":
        false, "stateMutability": "view", "type": "function" }, { "constant": true,
        "inputs": [], "name": "symbol", "outputs": [ { "name": "", "type": "string" } ],
        "payable": false, "stateMutability": "view", "type": "function" }, { "constant":
        false, "inputs": [ { "name": "_to", "type": "address" }, { "name": "_value",
        "type": "uint256" } ], "name": "transfer", "outputs": [ { "name": "success",
        "type": "bool" } ], "payable": false, "stateMutability": "nonpayable", "type":
        "function" }, { "constant": true, "inputs": [ { "name": "_owner", "type":
        "address" }, { "name": "_spender", "type": "address" } ], "name": "allowance",
        "outputs": [ { "name": "remaining", "type": "uint256" } ], "payable": false,
        "stateMutability": "view", "type": "function" }, { "inputs": [], "payable":
        false, "stateMutability": "nonpayable", "type": "constructor" }, { "payable":
        false, "stateMutability": "nonpayable", "type": "fallback" }, { "anonymous":
        false, "inputs": [ { "indexed": true, "name": "from", "type": "address" }, {
        "indexed": false, "name": "value", "type": "uint256" } ], "name": "Burn",
        "type": "event" }, { "anonymous": false, "inputs": [ { "indexed": false, "name":
        "userAddress", "type": "address" }, { "indexed": false, "name": "value", "type":
        "uint256" } ], "name": "TwitterBounty", "type": "event" }, { "anonymous": false,
        "inputs": [ { "indexed": true, "name": "_from", "type": "address" }, {
        "indexed": true, "name": "_to", "type": "address" }, { "indexed": false, "name":
        "_value", "type": "uint256" } ], "name": "Transfer", "type": "event" }, {
        "anonymous": false, "inputs": [ { "indexed": true, "name": "_owner", "type":
        "address" }, { "indexed": true, "name": "_spender", "type": "address" }, {
        "indexed": false, "name": "_value", "type": "uint256" } ], "name": "Approval",
        "type": "event" } ];

      var shareCoinContract = web3.eth.contract(contractAbi);
      var shareCoinInstance = shareCoinContract.at(contactAddress);

      var accounts = web3.eth.accounts;
      var userBalance = shareCoinInstance.balanceOf(accounts[0]);

      console.log(userBalance);

    </script>
    {% endblock %}
  </head>

    <body style = "background-color: #f7faff">
      <div class = "container" style= "background-color:white; padding-left: 0px; padding-right: 0px">
      <div class = "container" style="padding-left: 0; padding-right:0;">
        <nav class="navbar navbar-inverse" style ="background-color: #5301a5">
          <a class="navbar-brand" href="#" style="color:white">ShareBlocks</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home')}}" style="color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
          </ul>
          <form action = "{{ url_for('login')}}" class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary" type="submit" style="border-color: white; color: white; background-color:#5301a5 ">Login</button>
          </form>
        </nav>
      </div>
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>
